body {
    background-color: #FFF3E2;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100%;
    margin: 0px auto 0px;
    height: 90px;
    background-color: #E74646;
    color: #FFF3E2;
    box-sizing: border-box;
    overflow: hidden;
}

#nav {
    position: relative;
    top: -5px;
}

#ul {
    display: inline;
    padding: 0px;
    margin: 0px;
}

a {
    display: inline;
    text-decoration: none;
    color: #FFF3E2;
}

a img {
    height: 50px;
}

#logo-a {
    position: absolute;
    left: 120px;
}

#github-a {
    position: absolute;
    right: 120px;
    top: 0  px;
    text-align: center;
}

a span {
    font-size: 20px;
}

#start-game {
    width: 60%;
    margin: 200px auto;
    text-align: center;
}

#start-game h1 {
    font-size: 24px;
    color: #FA9884;
    font-weight: normal;
    margin: 0px auto 120px;
}

#start-game button {
    background-color: #E74646;
    border: none;
    width: 100px;
    height: 88px;
    border-radius: 4px;
    color: #FFF3E2;
    font-size: 32px;
}

#game-configuration {
    margin: 200px auto;
    text-align: center;
    display: none;
}

#game-configuration h1 {
    font-size: 24px;
    color: #FA9884;
    font-weight: normal;
}

.select-btn:hover {
    transition: 500ms;
    opacity: 50%;
}

.select-btn {
    margin: 120px 8px 0px;
    box-sizing: border-box;
    background-color: #E74646;
    border: none;
    width: 100px;
    height: 88px;
    border-radius: 4px;
    color: #FFF3E2;
    font-size: 32px;
}







/*animations */

@keyframes dissapearEffect {

    20% {
        opacity: 0%;
    }

    40% {
        opacity: 20%;
    }

    60% {
        opacity: 40%;
    }

    80% {
        opacity: 60%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes appearEffect {

    0% {
        opacity: 0%;
    }

    20% {
        opacity: 20%;
    }

    40% {
        opacity: 40%;
    }

    60% {
        opacity: 60%;
    }

    80% {
        opacity: 80%;
    }

    100% {
        opacity: 100%;
    }
}