body {
    background-color: #FFF3E2;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100%;
    margin: 0px auto 0px;
    height: 90px;
    background-color: #E74646;
    color: #FFF3E2;
    box-sizing: border-box;
    overflow: hidden;
}

#nav {
    position: relative;
    top: -5px;
}

#ul {
    display: inline;
    padding: 0px;
    margin: 0px;
}

a {
    display: inline;
    text-decoration: none;
    color: #FFF3E2;
}

a img {
    height: 50px;
}

#logo-a {
    position: absolute;
    left: 120px;
}

#github-a {
    position: absolute;
    right: 120px;
    top: 0  px;
    text-align: center;
}

a span {
    font-size: 20px;
}

#game-area {
    width: 1200px;
    height: 700px;
    margin: 120px auto 0px;
}

#game-text {
    text-align: center;
    height: 80px;
}

#game-text h1 {
    font-weight: normal;
    color: #FA9884;
    font-size: 24px;
}